body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.weather-title {
  margin-top: 0;
}

.center-content {
  margin-top: 1rem;
}

.input-size {
  padding: 0.5rem;
  font-size: 1rem;
}

.button-size {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
